.form {
  @include flex-layout;
  gap: 6px;
  max-width: 529px;

  &:not(:invalid) {
    .button {
      border-color: $accent;
    }
  }
}

.input {
  height: 48px;
  padding: 16px 20px;
  border-radius: 16px;
  border: $grey-line;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: $text;
  background-color: transparent;
  border-width: 2px;
  flex: 1;

  &::placeholder {
    color: $secondary-text;
  }
}

.button {
  color: $text;
  border-radius: 16px;
  border: $grey-line;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.3px;
  background-color: transparent;
  height: 48px;
  padding: 12px 32px;
  white-space: nowrap;
  transition: $transition;

  &:active {
    scale: 0.95;
  }

  &:disabled {
    border-color: #1a1a1a !important;
  }

  &.loading {
    @include button-loading;
  }
}

.notice {
  @include flex-center;
  position: fixed;
  bottom: 30px;
  left: 0;
  width: 100%;
  padding: 0 20px;
}

@include media("tablet-small") {
  .form {
    flex-direction: column;
  }

  .input {
    width: 100%;
  }

  .button {
    width: 100%;
  }
}
