.input {
  height: 48px;
  padding: 16px 20px;
  border-radius: 16px;
  border: $grey-line;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: $text;
  background-color: transparent;
  border-width: 2px;
  flex: 1;
  transition: $transition;

  &::placeholder {
    color: $secondary-text;
  }

  @include hover {
    border-color: $text;
  }
}
