.list {
  @include flex-layout;
  gap: 10px;
  padding: 0;
  margin: 52px 0 12px;
  position: relative;
  z-index: 2;
  background-color: $page-bg;
}

.price {
  font-size: clamp(0.8125rem, 0.7893rem + 0.0952vw, 0.875rem);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.bage {
  @include flex-center;
  right: 8px;
  top: -11px;
  position: absolute;
  color: $text;
  font-size: clamp(0.6875rem, 0.6643rem + 0.0952vw, 0.75rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 12px;
  background: $accent;
  padding: 6px 12px;
  height: 23px;
}

@include media("tablet-small") {
  .list {
    margin-top: 32px;
    gap: 8px;
  }
}
