.item {
  border-radius: 18px;
  border: 2px solid #1a1a1a;
  backdrop-filter: blur(12.5px);
  padding: 16px;
  cursor: pointer;
  flex: 1;
  position: relative;
}

.top {
  @include flex-layout(flex-start, center);
  gap: 6px;
  color: $text;
  font-size: clamp(0.9375rem, 0.7982rem + 0.5714vw, 1.3125rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 2px;
  white-space: nowrap;
}

@include media("tablet-small") {
  .item {
    padding: 14px 13px;

    svg {
      width: 16px;
      height: 16px;
    }
  }
}
