.block {
  @include flex-layout(space-between, center);
  position: relative;
  max-width: $home-mw;
  margin: 270px auto;
  padding: 0 20px;
}

.list {
  max-width: 360px;
}

.item {
  &:not(:last-child) {
    margin-bottom: 52px;
  }
}

.title {
  color: $text;
  font-size: clamp(1.5rem, 1.3143rem + 0.7619vw, 2rem);
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  margin-bottom: 8px;
}

.text {
  font-size: clamp(1rem, 0.9304rem + 0.2857vw, 1.1875rem);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
