.section {
  @include flex-layout(space-between);
  position: relative;
  max-width: $home-mw;
  margin: 270px auto;
  padding: 0 20px;
  gap: 20px;
}

.summary {
  max-width: 438px;
  width: 100%;
}

.title {
  font-size: clamp(2rem, 1.6286rem + 1.5238vw, 3rem);
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

.list {
  max-width: 630px;
}

.rating {
  @include flex-layout(space-between);
  margin-top: 60px;
}

.info {
  max-width: 100px;
}

.score {
  font-size: clamp(2.5rem, 2.2214rem + 1.1429vw, 3.25rem);
  color: $text;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.stars {
  @include flex-center;
  gap: 4px;
  scale: 0.7;
}

.count {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
}

.bar {
  max-width: 290px;
  width: 100%;
}

.item {
  @include flex-center;
  color: $text;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  height: 24px;
  gap: 8px;

  &:not(:last-child) {
    margin-bottom: 4px;
  }
}

.percentage {
  height: 8px;
  display: block;
  width: 100%;
  border: $grey-line;
  background-image: linear-gradient($accent, $accent);
  background-repeat: no-repeat;
  border-radius: 56px;
}

.button {
  width: 100%;
  margin-top: 32px;
  border-radius: 16px;
  border: $grey-line;
  height: 48px;
  background-color: transparent;
  color: $text;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  border-width: 2px;
}

@include media('tablet') {
  .section {
    flex-direction: column;
    margin: 144px 0;
  }

  .list {
    max-width: 100%;
  }
}
