.section {
  @include flex-layout(space-between);
  position: relative;
  max-width: $home-mw;
  margin: 0 auto;
  padding: var(--header-height, 0) 20px 0;
  gap: 20px;
}

.summary {
  max-width: 438px;
  width: 100%;
}

.title {
  font-size: clamp(2rem, 1.6286rem + 1.5238vw, 3rem);
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

.list {
  max-width: 630px;
}

.rating {
  display: grid;
  grid-template-columns: minmax(80px, 100px) minmax(200px, 290px);
  justify-content: space-between;
  margin-top: 60px;
  gap: 32px 40px;
}

.info {
  max-width: 100px;
}

.score {
  font-size: clamp(2.5rem, 2.2214rem + 1.1429vw, 3.25rem);
  color: $text;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.stars {
  @include flex-center;
  gap: 4px;
}

.count {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
  white-space: nowrap;
}

.bar {
  max-width: 290px;
  width: 100%;
}

.item {
  @include flex-center;
  color: $text;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  height: 24px;
  gap: 8px;

  &:not(:last-child) {
    margin-bottom: 4px;
  }
}

.percentage {
  height: 8px;
  display: block;
  width: 100%;
  border: $grey-line;
  background-image: linear-gradient($accent, $accent);
  background-repeat: no-repeat;
  border-radius: 56px;
}

.button {
  width: 240px;
  margin: 0 auto;
}

@include media("tablet") {
  .section {
    flex-direction: column;
  }

  .list {
    max-width: 100%;
  }

  .rating {
    gap: 20px 40px;
  }
}
