.item {
  padding: 28px 0;
}

.header {
  @include flex-layout(space-between, center);
  margin-bottom: 16px;
}

.author {
  @include flex-center;
  gap: 20px;
}

.avatar {
  @include flex-center;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  background-color: #1a1a1a;
  color: $text;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.name {
  font-size: clamp(1.1875rem, 1.1411rem + 0.1905vw, 1.3125rem);
  color: $text;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.stars {
  @include flex-center;
  gap: 3px;
}

.review {
  font-size: clamp(1rem, 0.9768rem + 0.0952vw, 1.0625rem);
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
  margin-bottom: 16px;
}

.footer {
  @include flex-layout(flex-start, center);
  gap: 15px;
  font-size: clamp(0.9375rem, 0.8911rem + 0.1905vw, 1.0625rem);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.button {
  color: $text;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: transparent;
}
