.nav {
  @include flex-layout(space-between);
  flex: 1;
  max-width: 628px;
  gap: 8px;
  flex-wrap: wrap;

  .column {
    flex-shrink: 0;
  }
}

.label {
  color: $text;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 24px;
}

.li,
.link {
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 180px;

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.link {
  transition: $transition;
  cursor: pointer;

  @include hover {
    color: $text;
  }
}

@include media("tablet") {
  .nav {
    max-width: 100%;
    width: 100%;
  }
}

@include media("phone") {
  .nav {
    gap: 36px;
  }

  .column {
    width: 100%;
  }

  .label {
    @include flex-layout(space-between, center);
    margin-bottom: 0;

    svg {
      rotate: -90deg;
    }
  }

  .content {
    overflow: hidden;
  }
}
