.container {
  @include flex-layout(flex-start, center);
  gap: 16px;
  padding: 24px 28px;
  border-bottom: $grey-line;
}

.progress {
  position: relative;
  height: 40px;

  svg {
    rotate: -90deg;
  }

  span {
    color: $text;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.22px;
  }
}

.max {
  color: $text;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.current {
  color: $secondary-text;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  span {
    color: $text;
  }
}
