.header {
  width: 100%;
  height: var(--header-height);
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: $page-bg;
  border-bottom: $grey-line;
}

.container {
  @include flex-layout(flex-start, center);
  max-width: $home-mw;
  margin: 0 auto;
  gap: 40px;
  padding: 12px 20px;
}

.logo {
  display: block;
  height: 26px;
  transition: $transition;

  @include hover {
    color: $text;
  }
}

.nav {
  @include flex-layout(flex-start, center);
  gap: 24px;

  a {
    transition: $transition;

    @include hover {
      color: $text;
    }
  }
}

.end {
  margin-left: auto;
}

.button {
  @include primary-button;
  height: 28px;
  border-radius: 50px;
  padding: 8px 20px;
  font-size: 13px;
  line-height: 110%;
}

@include media("tablet") {
  .container {
    gap: 16px;
  }

  .nav {
    display: none;
  }

  .logo {
    color: $text;
  }
}
