.header {
  @include flex-layout(flex-start, center);
  max-width: $home-mw;
  padding: 12px 20px;
  gap: 40px;
  width: 100%;
  margin: 0 auto;
  height: var(--header-height);
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: $page-bg;
  box-shadow: 0 0 0 100vmax $page-bg;
  clip-path: inset(0 -100vmax);
}

.logo {
  display: block;
  height: 26px;
}

.nav {
  @include flex-layout(flex-start, center);
  gap: 24px;
}

.end {
  margin-left: auto;
}

.button {
  @include primary-button;
  height: 28px;
  border-radius: 50px;
  padding: 8px 20px;
  font-size: 13px;
  line-height: 110%;
}

@include media("tablet") {
  .header {
    gap: 16px;
  }

  .nav {
    display: none;
  }

  .logo {
    color: $text;
  }
}
