:root {
  @font-face {
    font-family: "VelaSans";
    font-style: normal;
    font-weight: 100 900;
    src: url(/fonts/VelaSans-GX.woff2) format("woff2");
  }
}

html,
.body {
  max-width: 100vw;
  overflow-x: hidden;
}

.body {
  @include flex-column;
  background: $page-bg;
  color: $secondary-text;
  font-family: "VelaSans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

pre {
  font-weight: 400;
  font-size: 16px;
  color: $text;
}

img {
  display: block;
}

svg {
  flex-shrink: 0;
}

ul,
ol {
  list-style: none;
}
