.item {
  @include flex-layout(space-between, center);
  padding: 20px 0;
  border-bottom: $grey-line;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;

  &:first-child {
    border-top: $grey-line;
  }
}

.content {
  margin-top: 40px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  strong {
    font-weight: 700;
    color: $text;
  }

  ul,
  p:not(:last-child) {
    margin-bottom: 15px;
  }

  p {
    color: $secondary-text;
  }

  ul {
    list-style: disc;
    padding-left: 20px;
    color: $text;
  }

  li {
    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }
}
