.page {
  @include flex-center;
  flex-direction: column;
  height: 100dvh;
  width: 100%;
  background-color: $page-bg;
  padding: 20px;
}

.header {
  color: $text;
  margin-bottom: 48px;
}

.title {
  color: $text;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 12px;
  max-width: 600px;
  text-align: center;
}

.text {
  font-size: clamp(0.9375rem, 0.9143rem + 0.0952vw, 1rem);
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  margin-bottom: 40px;
}

.button {
  @include primary-button;
  max-width: 320px;
}

@include media("phone") {
  .page {
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 48px;
  }

  .header {
    margin-bottom: 80px;
  }

  .title {
    text-align: left;
    margin-bottom: 20px;
  }

  .button {
    margin-top: auto;
    max-width: 100%;
  }
}
