.page {
  position: relative;
}

.image {
  height: auto;
  width: 100%;
  min-height: 443px;
  object-fit: cover;
}

.content {
  position: absolute;
  top: 96px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: $home-mw;
  padding: 0 20px;
  z-index: 1;
}

.title {
  font-size: clamp(2.25rem, 1.6464rem + 2.4762vw, 3.875rem);
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
  color: $text;
  max-width: 670px;
  margin-bottom: 24px;
}

.text {
  font-size: clamp(1rem, 0.9304rem + 0.2857vw, 1.1875rem);
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  max-width: 388px;

  span {
    color: $text;
  }
}

.button {
  @include primary-button;
  margin-top: 44px;
  width: 240px;
  height: 52px;
  border-radius: 20px;
}

@include media("tablet") {
  .content {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    margin-top: 28px;
  }
}

@include media("tablet-small") {
  .text {
    max-width: 100%;
  }

  .title {
    max-width: 100%;
    margin-bottom: 12px;
  }

  .image {
    object-position: 43% bottom;
  }

  .button {
    width: 100%;
    margin-top: 24px;
    border-radius: 15px;
  }
}
