@mixin primary-button {
  @include flex-layout(center, center);
  color: $text;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 20px 28px;
  height: 60px;
  border-radius: 18px;
  background-color: $accent;
  width: 100%;
  transition: $transition;

  position: relative;
  mask-image: -webkit-radial-gradient(center, white, black);
  overflow: hidden;

  @include hover {
    background-color: #590d12;
  }

  &:disabled {
    background-color: #1a1a1a;
    color: #4d4d4d;
    cursor: not-allowed;
  }

  &:not(:disabled) {
    &:after {
      content: "";
      background: linear-gradient(
        95deg,
        transparent 0,
        #774d4d 40%,
        transparent 60%
      );
      filter: blur(32px);
      position: absolute;
      translate: -200% 0;
      inset: 0px;
      :global {
        animation: 3.6s linear 0.55s infinite normal none running
          animation-skeleton;
      }
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

@mixin add-to-cart-button {
  @include flex-center;
  background-color: transparent;
  border: $grey-line;
  color: $text;
  border-radius: 15px;
  padding: 10px;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: $transition;
  white-space: nowrap;

  &:active {
    transform: scale(0.9);
  }

  @include hover {
    color: #b0000d;
    border-color: #85141b;
  }
}

@mixin button-loading {
  position: relative;
  color: transparent;
  cursor: wait;
  pointer-events: none;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    border: solid 2px;
    border-color: $text transparent transparent transparent;
    border-radius: 100%;
    transition: 0.3s ease;
    transform-origin: 0 0;
    :global {
      animation: spin 1s infinite;
    }
  }
}
