@mixin checkmark {
  transform: rotate(40deg) translate(2px, 3.5px) skew(1deg);
  position: absolute;
  top: 50%;
  left: 50%;

  &::before,
  &::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    background: #fff;
    border-radius: 10px;
  }

  &::before {
    width: 0;
    height: 2px;
  }

  &::after {
    width: 2px;
    height: 0;
  }
}

@mixin checkmark-active {
  &::before {
    animation: checkmark-width 0.1s linear forwards;
  }

  &::after {
    animation: checkmark-height 0.1s linear 0.1s forwards;
  }
}
