.header {
  width: 100%;
  height: var(--header-height);
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: $page-bg;
}

.container {
  @include flex-layout(flex-start, center);
  max-width: 1152px;
  margin: 0 auto;
  gap: 40px;
  padding: 12px 20px;
}

.logo {
  display: block;
  height: 26px;
  transition: $transition;

  @include hover {
    color: $text;
  }
}

.end {
  margin-left: auto;
}

@include media("tablet") {
  .container {
    gap: 16px;
  }

  .logo {
    color: $text;
  }
}
