.wrapper {
  @include flex-layout(space-between);
  max-width: $home-mw;
  padding: 0 20px 40px;
  gap: 40px;
  width: 100%;
  margin: 0 auto;
}

.info {
  max-width: 552px;
  flex: 1;
}

.top {
  @include flex-layout(space-between, center);
  margin-bottom: 24px;
  color: $text;
}

.socials {
  @include flex-center;
  gap: 16px;
}

.social {
  transition: $transition;

  @include hover {
    color: $accent;
    scale: 1.2;
  }
}

.description {
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 180%;
}

.payments {
  @include flex-layout;
  gap: 8px;
  flex-wrap: wrap;
}

.divider {
  background-color: #1a1a1a;
  height: 1px;
  width: 100%;
  display: block;
  margin-bottom: 40px;
}

.payment {
  object-fit: contain;
}

.copyright {
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  white-space: nowrap;
}

@include media("tablet") {
  .wrapper {
    flex-direction: column;
  }

  .info {
    max-width: 100%;
  }
}

@include media("phone") {
  .info {
    @include flex-column;
  }

  .top {
    display: contents;
  }

  .socials {
    justify-content: space-between;
    order: 3;
  }

  .description {
    margin: 40px 0 20px;
  }

  .copyright {
    margin: 0 auto;
  }

  .payments {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;
    gap: 20px 8px;
  }

  .payment {
    grid-column: span 2;
    // object-fit: cover;

    &:nth-child(n + 7) {
      grid-column: span 3;
    }
  }
}
