.list {
  @include scrollbar;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 44px 28px;
  padding: 24px 60px;
  overflow-y: auto;
  overflow-x: hidden;
  border-top: $grey-line;
}

@media screen and (max-width: 1340px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
  }
}

@media screen and (max-width: 995px) {
  .list {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 700px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
    padding: 4px 20px 160px;
    gap: 20px;
  }

  .actions {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 18px;

    & > p {
      flex-direction: row;
      gap: 8px;
      align-items: center !important;
    }
  }

  .button {
    max-width: none;
  }
}
