.popup {
  @include flex-center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.container {
  @include flex-layout(flex-start, stretch);
  border-radius: 36px;
  background: #0c0c0c;
  padding: 32px;
  gap: 40px;
  width: 100%;
  max-width: 888px;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.7);
}

.preview {
  @include flex-column;
  max-width: 350px;
  height: 520px;
  overflow: hidden;
}

.image {
  flex: 1;
  height: 300px;
  position: relative;

  img {
    object-fit: cover;
    border-radius: 20px;
    height: 100%;
  }

  &.withBage img {
    clip-path: path(
      "M521.6 0H173.75C162.566 0 153.5 9.06623 153.5 20.25C153.5 31.4338 144.434 40.5 133.25 40.5H38.4C24.9587 40.5 18.2381 40.5 13.1042 43.1158C8.58834 45.4168 4.9168 49.0883 2.61584 53.6042C0 58.7381 0 65.4587 0 78.9V480.6C0 494.041 0 500.762 2.61584 505.896C4.9168 510.412 8.58834 514.083 13.1042 516.384C18.2381 519 24.9587 519 38.4 519H521.6C535.041 519 541.762 519 546.896 516.384C551.412 514.083 555.083 510.412 557.384 505.896C560 500.762 560 494.041 560 480.6V38.4C560 24.9587 560 18.2381 557.384 13.1042C555.083 8.58834 551.412 4.9168 546.896 2.61584C541.762 0 535.041 0 521.6 0Z"
    );
  }
}

.bages {
  @include flex-layout(flex-start, center);
  position: absolute;
  left: 0;
  top: 0;
  min-width: 143px;
  gap: 4px;

  span {
    @include flex-center;
    color: $text;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 13px */
    letter-spacing: -0.13px;
    border-radius: 30px;
    background: #520c11;
    padding: 10px 14px;
    flex: 1;
  }

  &-bottom {
    position: absolute;
    bottom: 12px;
    left: 12px;
    right: 12px;
  }
}

.tab-content {
  border: $grey-line;
  border-radius: 24px;
  padding-inline: 32px;
}

.tab-title {
  margin-top: 20px;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  margin-bottom: 18px;
}

.tab-list {
  padding: 0 0 20px 20px;
  list-style: disc;
}

.tab-item,
.tab-text {
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  &:not(:last-child) {
    margin-bottom: 4px;
  }
}

.tab-text {
  &:last-child {
    padding-bottom: 20px;
  }
}

.info {
  @include flex-column;
  flex: 1;
  position: relative;

  &-item {
    @include flex-layout(space-between, center);
    gap: 12px;
    margin-bottom: 8px;
  }
}

.title {
  font-size: clamp(1.3125rem, 0.9643rem + 1.4286vw, 2.25rem);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  padding-right: 35px;
}

.close {
  @include flex-center;
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  color: $secondary-text;
  padding: 12px;
  transition: $transition;

  @include hover {
    color: $text;
  }
}

.description {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 24px;
  margin-bottom: 16px;

  span {
    color: $text;
  }
}

.dots {
  margin-top: 10px;
  flex-grow: 1;
  height: 1px;
  background: repeating-linear-gradient(
    to right,
    $secondary-text 0,
    $secondary-text 1px,
    transparent 1px,
    transparent 4px
  );
}

.variant {
  &-list {
    @include flex-layout;
    flex-wrap: wrap;
    gap: 6px;
    margin-top: 32px;
  }

  &-item {
    @include flex-center;
    border: 2px solid #1a1a1a;
    backdrop-filter: blur(12.5px);
    border-radius: 16px;
    cursor: pointer;
    background-color: $page-bg;
    transition: $transition;
    color: $text;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    padding: 12px;
    white-space: nowrap;

    @include hover {
      border-color: #333;
      background-color: rgba(51, 51, 51, 0.1);
    }

    &.active {
      border-color: $accent;
      background: rgba(124, 51, 51, 0.1);
    }
  }
}

.footer {
  margin-top: auto;
  padding-bottom: 15px;
}

.row {
  @include flex-layout(flex-start, center);
  gap: 16px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &:last-child {
    flex-wrap: wrap;
  }
}

.button {
  @include primary-button;

  &.loading {
    @include button-loading;
  }
}

.tabs {
  @include flex-layout(flex-start, center);
  gap: 20px;
}

.tab {
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  cursor: pointer;
  transition: $transition;
  text-decoration-line: underline;

  &.active {
    color: $text;
  }
}

.inkl {
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: auto;
}

.tab-close {
  display: none;
}

@include media("tablet-small") {
  .popup {
    display: block;
    padding-top: 10px;
    position: fixed;
    overflow-y: auto;
  }

  .container {
    flex-direction: column;
    min-height: 100%;
    border-radius: 36px 36px 0px 0px;
    padding: 20px;
    position: relative;
    gap: 0;
  }

  .preview {
    height: auto;
    max-width: none;
    margin-top: 22px;
    order: 2;
  }

  .image img {
    aspect-ratio: 1 / 1;
    height: auto;
    width: 100%;
  }

  .info {
    display: contents;

    &-list {
      order: 5;
      margin-top: 16px;
      margin-bottom: 32px;
    }
  }

  .title {
    order: 1;
    font-size: 21px;
  }

  .close {
    top: 14px;
    right: 20px;
  }

  .variant {
    &-list {
      order: 3;
      margin-top: 20px;
    }
  }

  .description {
    order: 4;
    margin-top: 12px;
  }

  .footer {
    order: 6;
  }

  .tabs {
    gap: 12px;
    justify-content: space-between;
    width: 100%;
  }

  .row {
    gap: 20px;
  }

  .tab-content {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $page-bg;
    z-index: 10;
    padding-inline: 20px;
    overflow-y: auto;
    border-radius: 24px 24px 0 0;
  }

  .tab-title {
    text-align: center;
    margin-top: 26px;
  }

  .tab-close {
    @include flex-center;
    background-color: transparent;
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    width: 35px;
    height: 35px;
  }
}
