.item {
  @include flex-column;
  cursor: pointer;
  opacity: 0;
  position: relative;
  animation: shade-on 0.5s linear forwards;
}

.bages {
  @include flex-layout(flex-start, center);
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 1;

  span {
    @include flex-center;
    padding: 8px 16px;
    color: $text;
    background-color: $accent;
    border-radius: 12px;
    font-size: clamp(0.6875rem, 0.6643rem + 0.0952vw, 0.75rem);
    font-style: normal;
    font-weight: 700;
    line-height: 105%;
  }
}

.image {
  border-radius: 20px;
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.title {
  @include text-overflow(2);
  color: $text;
  font-size: clamp(1.0625rem, 0.9696rem + 0.381vw, 1.3125rem);
  font-style: normal;
  font-weight: 700;
  line-height: 105%;
  letter-spacing: -0.21px;
  margin: 16px 0 6px;
}

.description {
  @include text-overflow(2);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.13px;
  margin-bottom: 24px;
}

.actions {
  @include flex-layout(space-between, center);
  flex-wrap: wrap;
  margin-top: auto;
  gap: 12px;
}

.button {
  @include add-to-cart-button;
  max-width: 140px;
  width: 100%;

  &.loading {
    @include button-loading;
  }
}

@include media("tablet-small") {
  .actions {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 18px;

    & > p {
      flex-direction: row;
      gap: 8px;
      align-items: center !important;
    }
  }

  .button {
    max-width: none;
  }

  .bages {
    top: 6px;
    left: 6px;

    span {
      padding: 4px 10px;
    }
  }
}

@keyframes shade-on {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
