.section {
  position: relative;
  max-width: $home-mw;
  margin: 270px auto;
  padding: 0 20px !important;
  position: relative;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 25px;
    height: 100%;
    z-index: 3;

    @media screen and (max-width: #{$home-mw}) {
      display: none;
    }
  }

  &::before {
    left: 0;
    background: linear-gradient(90deg, $page-bg 0%, rgba(0, 0, 0, 0) 100%);
  }

  &::after {
    right: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, $page-bg 100%);
  }
}

.header {
  @include flex-layout(space-between, center);
  margin-bottom: 44px;
}

.slide {
  width: fit-content !important;
}

.title {
  font-size: clamp(2rem, 1.6286rem + 1.5238vw, 3rem);
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

@include media("tablet") {
  .section {
    margin: 144px 0;
  }

  .header {
    margin-bottom: 32px;
  }
}
